/*******************************************************
GENERAL
********************************************************/

body{ position: relative; font-family: 'Roboto', 'sans-serif'; overflow-x: hidden !important; min-height: 100vh; margin-top: 40px; }
h1{ font-size: 30px; }
.violet{ color: #4a0087; }
.site_content{ transition-duration: 0.5s; }

/*******************************************************
NAVBAR
********************************************************/

.navbar{ background: #000000 !important; z-index: 20000000000; transition-duration: 0.5s; }
  .navbar a{ color: #FFF !important; text-transform: uppercase; letter-spacing: 1px; }
  .navbar-brand{ text-transform: none !important; transition-duration: 0.5s; }
  .navbar .nav-link{ display: inline; }
  .navbar .navbar-nav{ transition-duration: 0.5s; }

  .open{ display: none; cursor: pointer; }
  .bar1, .bar2, .bar3{ width: 25px; height: 2px; background: #FFF; margin: 6px 0; transition: 0.4s; }
  .change .bar1{ transform: rotate(-45deg) translate(-4px, 4px); }
  .change .bar2{ transform: translateX(-200%); }
  .change .bar3{ transform: rotate(45deg) translate(-7px, -7px); }

.hide_navbar{ overflow-y: scroll; transform: translateX(-100%); transition-duration: 0.5s; width: 20%; position: absolute; left: 0; bottom: 0; top: 50px; background: #000; z-index: 200000; padding: 20px; }
  .hide_navbar .nav_item{ padding: 10px; }
  .hide_navbar .nav_item i{ display: inline-block; width: 20%; color: #FFF; }
  .hide_navbar .nav_item a{ display: inline-block; width: 79%; color: #FFF; }
  .hide_navbar .nav_item a:hover{ text-decoration: none; }
  .hide_navbar .btn{ margin-top: 20px; display: block; border-radius: 0; border: none; background: #4a0087; }
  .hide_navbar .btn i{ margin-right: 10px; }
  .hide_navbar .separator{ border-top: 1px solid #FFF; margin: 20px 0; }

.opened{ transform: translateX(0); transition-duration: 0.5s; }
.with_sidebar{ transform: translateX(20%); transition-duration: 0.5s; }

.search{ display: none; }

.account{ font-size: 12px; margin-right: 10px; width: 30px; height: 30px; border-radius: 30px; border: 2px solid #4a0087; line-height: 25px; text-align: center; transition-duration: 0.3s; }
.account:hover{ background: #FFF; border-color: #FFF; color: #4a0087 !important; transition-duration: 0.3s; }

.sign_out{ font-size: 12px; }

/*******************************************************
HOME
********************************************************/

.lv_container{ position: relative; }
  .lv_infos{ position: absolute; color: #FFF; background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.041) 0%, rgba(0, 0, 0, 0.212) 30%, rgba(0, 0, 0, 0.493) 60%, #000 100%); background-image: linear-gradient(left, rgba(0, 0, 0, 0.041) 0%, rgba(0, 0, 0, 0.212) 30%, rgba(0, 0, 0, 0.493) 60%, #000 100%); top: 10px; bottom: 10px; right: 0; width: 100%; padding: 20px; text-align: center; }
  .lv_infos h2{ font-size: 70px; font-weight: 900; text-transform: uppercase; border-bottom: 2px solid #4a0087; }
  .lv_infos p{ font-size: 50px; font-weight: 900; }
  .lv_infos a{ width: 30%; margin-top: 20px; border-radius: 0; border: none; background: #4a0087; padding: 10px; }
  .lv_infos a:hover{ background: #3c016d; }
  .lv_infos a i{ margin-right: 10px; }

  .lv_infos_content{ padding: 10px; position: absolute; top: 25%; width: 70%; left: 15%; right: 15%; }

.container_videos{ text-align: center; margin-top: 10px; }
  .container_videos h1{ text-transform: uppercase; }

.list_videos{ padding: 0 100px; }
  .elmt_video{ display: inline-block; width: 49%; }
  .elmt_video .v_infos{ margin-bottom: 10px; text-align: left; padding-top: 10px; }
  .elmt_video .v_infos h2{ display: inline-block; width: 70%; background: #FFF; font-size: 13px; }
  .elmt_video span.text-muted{ display: inline-block; text-align: right; width: 25%; }
  .elmt_video span.badge{ display: inline-block; text-align: center !important; width: 25%; }
  .elmt_video .v_infos p{ margin-bottom: 5px; }
  .free{ color: #078823 !important; }
  .price{ font-weight: bold; color: #0caa90 !important; }
  .elmt_video .v_infos .v_text{ display: inline-block; width: 100%; line-height: 2.7em; }
  .elmt_video .v_infos a{ display: block; color: #000; margin: 5px auto; background: none; width: 30%; border: 2px solid #4a0087; border-radius: 0; }
  .elmt_video .v_infos a:hover{ background-image:linear-gradient(60deg, #5e268b, #4a0087); color: #FFF; }
  .elmt_video .v_infos .btn-danger{ border: 2px solid #ad0628; }
  .elmt_video .v_infos .btn-danger:hover{ background-image:linear-gradient(60deg, #bd2d49, #91021f); }

.video{ width: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0; }
  .video img, .video iframe{ transition-duration: 0.5s; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; }

  .checked{ color: orange; }

.filtres .elmt_filtres{ padding: 20px; }
.filtres label.title_form{ float: left; }
.filtres .form-check{ text-align: left; width: 100%; }
.filtres .tri_prix{ display: none; }

/*******************************************************
VIDEO
********************************************************/
.aff_video{ padding: 20px; }

.my_video{ width: 70%; margin: 0 auto; }
  .my_video iframe{ border: none; }
  .my_video .v_infos{ margin-top: 20px; }
  .my_video .v_infos h2{ font-size: 20px; display: inline-block; width: 90%; }
  .my_video .v_infos button{ display: inline-block; width: 9%; }
  .my_video .fb-share-button{ background: #3b5998; border: none; border-radius: 0; }
  .my_video .fb-share-button i{ margin-right: 10px; }
  .my_video .v_infos .description{ margin-top: 20px; font-size: 13px; }

.commentaires{ width: 70%; margin: 0 auto; }
  .commentaires h3{ padding-bottom: 10px; font-size: 17px; margin-top: 20px; }
  .commentaires .form-control{ font-size: 15px; background: none !important; border-radius: 0; margin: 20px 0; min-height: 100px; }
  .commentaires button{ margin-bottom: 10px; float: right; border-radius: 0; background: #4a0087; border: none; visibility: hidden; }
  .commentaires button:hover{ background: #360063; border: none; }
  .commentaires button i{ margin-left: 5px; }
  .commentaires .alert{ clear: both; margin: 0 !important; }
  .commentaire{ clear: both; width: 70%; margin-top: 5px; padding: 10px; border: 2px solid #dedede; background-color: #f1f1f1; border-radius: 5px; }
  .commentaire img{ display: inline-block; object-fit: cover; vertical-align: top; width: 70px; height: 70px; border-radius: 70px; }
  .commentaire .c_infos{ padding-left: 20px; width: 85%; display: inline-block; vertical-align: middle; text-align: left; }
  .commentaire p{ font-size: 12px; }
  .commentaire span{ margin-left: 10px; }
  .commentaire .supprimer{ float: right; }

  .commentaires .modal{ transform: translateY(20%) !important; }
  .commentaires .modal button{ visibility: visible; }
  .commentaires .modal .annuler{ background: #e64545; margin-left: 10px; }

/*******************************************************
ABONNEMENTS
********************************************************/

  .abo_header{ background: url('../images/bg2.jpg'); background-size: cover;  background-repeat: no-repeat; color: #FFF; }
  .abo_infos{ background: #0000009f; padding: 20px; }
  .abo_infos p{ width: 50%; }
  .abo_content .container{ padding: 20px; }
  .abo_content .container ul{ text-align: left; }
  .abo_content .elmt_abo{ width: 50%; }

/*******************************************************
PROFIL
********************************************************/

.profil{ padding: 50px; }

.profil a{ display: block; margin-top: 10px; }
.profil a i{ margin-left: 5px; }

.profil .paiements{ padding: 20px; }

.profil_infos{ text-align: center; margin: 0 auto; border: 1px solid #8f8f8f8f; border-radius: 5px; padding: 20px; }
  .profil_infos img{ object-fit: cover; width: 250px; height: 250px; border-radius: 250px; border: 1px solid #808080; }
  .profil_infos h1{ font-size: 25px; font-weight: 800; margin-top: 15px; margin-bottom: 0; }
  .profil_infos .pseudo{ font-size: 14px; margin-top: 0 !important; }
  .profil_infos button{ margin-bottom: 20px; }

/*******************************************************
COMMANDE
********************************************************/

.commande{ padding: 40px; }
.commande h1{ text-align: center; text-transform: uppercase; font-size: 18px; }
.commande .card{ margin: 0 auto; width: 50%; }
.commande .card-body .titre{ display: inline-block; width: 70%; font-weight: bold; }
.commande .card-body .prix{ display: inline-block; width: 29%; text-align: right; color: #3b5998; font-weight: bold; }
/*.commande .total{ background: #000; color: #FFF; width: 25%; float: right; padding: 10px; }*/
.commande .btn_paypal{ width: 50%; padding: 20px; margin: 0 auto; }
#success_payment, #error_payment{ display: none; }

/*******************************************************
ACHATS
********************************************************/

.achats{ padding: 20px; width: 70%; margin: 0 auto; }
.achats tr td{ width: 25%; vertical-align: middle; }
.achats .total{ background: #000; color: #FFF; width: 25%; float: right; padding: 10px; }
.achats img{ width: 100%; }

/*******************************************************
CONNEXION/INSCRIPTION
********************************************************/

.login_body{ min-height: 100vh; margin-top: 0; }
.login_body h1, .login_body h2{ text-align: center; }
.login_body h3{ border-bottom: 2px solid #4a0087; margin-bottom: 20px; padding-bottom: 10px; }
.login_body .alert{ width: 50%; margin: 0 auto; }
.login_body .alert i{ margin-right: 10px; }

.sign{ width: 70%; margin: 0 auto; background: #ffffffa9; min-height: 100vh; }
.sign .btn{ width: 100%; margin: 10px 0; display: block; border: 0; font-weight: 600; text-transform: uppercase; }  

.sign_in, .sign_up{ padding: 20px; text-align: center; }
  .sign_in button, .sign_up button{ letter-spacing: 1px; border: 3px solid #4a0087 !important; border-radius: 15px; background: none; color: #4a0087; width: 50% !important; margin: auto !important; }
  .sign_in button:hover, .sign_up button:hover{ background: #360063; }
  .sign_in .forgotten_pass{ display: block; font-size: 13px; text-align: right; }
  .sign_in form, .sign_up form{ width: 50%; margin: 0 auto; }
  .sign_in .input-group, .sign_up .input-group{ margin-bottom: 20px !important; }
  .sign_up{ padding: 20px; }

.new{ margin: auto; }

/*******************************************************
MEDIA QUERIES
********************************************************/

@media (max-width: 700px){

    body{ margin-top: 0; }

    h1{ font-size: 25px; }

    .navbar{ position: static; }
    .navbar-brand{ text-align: center; }
    .open{ display: inline-block; }

    .main_navbar form{ display: none; }
    .hide_navbar{ width: 70%; }
    .search{ display: block; }

    .with_sidebar{ transform: translateX(70%); }

    .lv_infos{ width: 100%; position: static !important; background: none; padding: 10px; }
    .lv_infos h2{ font-size: 25px; color: #000; }
    .lv_infos p{ font-size: 20px; color: #000; }
    .lv_infos a{ margin-top: 0; }
    .lv_infos_content{ position: static; width: 100%; }

    .list_videos{ padding: 0; }
    .elmt_video{ width: 100%; margin-bottom: 0; }
    .elmt_video .v_infos{ margin-bottom: 0; }

    .video .blur a{ width: 30%; left: 35%; top: 30% !important; }

    .success_connect{ width: 80%; left: 10%; }

    .aff_video{  padding: 0; }
    .my_video{ width: 100%; }
    .my_video .v_infos h2{  width: 100%; padding: 10px; }
    .my_video .v_infos button{ display: none; }
    .my_video .fb-share-button{ display: block; margin: 0 auto; }
    .commentaires{ width: 100%; }
    .commentaires .form-control{ margin: 20px auto; width: 90%; }
    .commentaire{ width: 90%; padding: 5px; margin: 5px auto; }
    .commentaire img{ width: 30px; height: 30px; border-radius: 30px; }
    .commentaire .c_infos{ padding-left: 10px; }
    .commentaires .alert{ width: 90%; margin: 20px auto 0 auto !important; }

    .elmt_abo{ width: 100% !important; }

    .profil{ padding: 10px 0; }
    .profil_infos{ border: none; border-radius: 0; width: 100%; }
    .profil_infos h2{ border-top: 1px solid #585858; margin-top: 20px; }

    .achats{ padding: 10px; width: 90%; }

    .commande{ padding: 10px 0; }
    .commande .card{ width: 100%; border: none; }
    .commande .card img{ border-radius: 0; }
    .commande .card-body .titre{ display: block; width: 100%; }
    .commande .card-body .prix{ display: block; width: 100%; text-align: left; }
    .commande .btn_paypal{ width: 70%; }

    .login_body{ background: none; color: #000; }
    .login_body .alert{ width: 80%; }
    .login_body h1, .login_body h2{ color: #000; }
    .sign{ width: 100%; }
    .sign_in .input-group input, .sign_up .input-group input{ color: #000; }
    .sign_in form, .sign_up form{ width: 90%; }
    .filter_black{ background: none; }

}