body{ position: relative; font-family: 'Roboto', 'sans-serif'; overflow-x: hidden !important; }
h1{ font-size: 30px; }
.violet{ color: #4a0087; }
.violet_navbar{ color: #170229; }

/**********************************************************************/

.navbar{ background: #000 !important; mix-blend-mode: screen; z-index: 20000000000; transition-duration: 0.5s; }
  .navbar a{ color: #FFF !important; text-transform: uppercase; letter-spacing: 1px; }
  .navbar-brand{ text-transform: none !important; transition-duration: 0.5s; }
  .navbar .nav-link{ display: inline; }
  .navbar .navbar-nav{ transition-duration: 0.5s; }

/**********************************************************************/

.lv_container{ position: relative; }
  .lv_infos{ position: absolute; color: #FFF; background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.041) 0%, rgba(0, 0, 0, 0.212) 30%, rgba(0, 0, 0, 0.493) 60%, #000 100%); background-image: linear-gradient(left, rgba(0, 0, 0, 0.041) 0%, rgba(0, 0, 0, 0.212) 30%, rgba(0, 0, 0, 0.493) 60%, #000 100%); top: 10px; bottom: 10px; right: 0; width: 100%; padding: 20px; text-align: center; }
  .lv_infos h2{ font-size: 70px; font-weight: 900; text-transform: uppercase; border-bottom: 2px solid #4a0087; }
  .lv_infos p{ font-size: 50px; font-weight: 900; }
  .lv_infos a{ width: 30%; margin-top: 20px; border-radius: 0; border: none; background: #4a0087; padding: 10px; }
  .lv_infos a:hover{ background: #3c016d; }
  .lv_infos a i{ margin-right: 10px; }

  .lv_infos_content{ padding: 10px; position: absolute; top: 25%; width: 70%; left: 15%; right: 15%; }

.container_videos{ text-align: center; margin-top: 10px; }
  .container_videos h1{ text-transform: uppercase; }

.list_videos{ padding: 0 100px; }
  .elmt_video{ display: inline-block; width: 49%; }
  .elmt_video .v_infos{ margin-bottom: 10px; text-align: left; padding-top: 10px; }
  .elmt_video .v_infos h2{ display: inline-block; width: 70%; background: #FFF; font-size: 13px; }
  .elmt_video span.text-muted{ display: inline-block; text-align: right; width: 25%; }
  .elmt_video .v_infos p{ margin-bottom: 5px; }
  .free{ color: #078823 !important; }
  .price{ font-weight: bold; color: #0caa90 !important; }
  .elmt_video .v_infos .v_text{ display: inline-block; width: 100%; line-height: 2.7em; }
  .elmt_video .v_infos a{ display: block; color: #000; margin: 5px auto; background: none; width: 30%; border: 2px solid #4a0087; border-radius: 0; }
  .elmt_video .v_infos a:hover{ background-image:linear-gradient(60deg, #5e268b, #4a0087); color: #FFF; }
  .elmt_video .v_infos .btn-danger{ border: 2px solid #ad0628; }
  .elmt_video .v_infos .btn-danger:hover{ background-image:linear-gradient(60deg, #bd2d49, #91021f); }

.video{ width: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0; }
  .video img, .video iframe{ transition-duration: 0.5s; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

  .checked{ color: orange; }
/****************************************************************/


.login_body{ min-height: 100vh; margin-top: 0; background: url('http://avekki.000webhostapp.com/public/images/bg.jpg'); background-size: cover; background-repeat: no-repeat; }
.login_body h1{ text-align: center; }
.login_body h2{ text-align: center; }
.login_body h3{ border-bottom: 2px solid #4a0087; margin-bottom: 20px; padding-bottom: 10px; }
.login_body .alert{ width: 50%; position: absolute; top: 5px; left: 25%; border-radius: 0; }

.sign{ width: 70%; margin: 0 auto; background: rgba(255, 255, 255, 0.63); min-height: 100vh; }
.sign button{ width: 100%; margin: 10px 0; display: block; border-radius: 0;  border: 0; font-weight: 600; text-transform: uppercase; }  

.sign_in{ padding: 20px; }
  .sign_in .form-check{ text-align: center; }
  /*[type="checkbox"]:checked{ background: red; }*/
  .sign_in button{ background: #4a0087; }
  .sign_in button:hover{ background: #360063; }
  .sign_in form, .sign_up form{ width: 50%; margin: 0 auto; }
  .sign_in .input-group, .sign_up .input-group{ margin-bottom: 20px !important; }
  .sign_in .input-group input, .sign_up .input-group input{ background: none; border-bottom: 1px solid #4a0087 !important; border: 0; border-radius: 0 !important; }
  .sign_in .input-group-text, .sign_up .input-group-text{ background: none !important; color: #4a0087; border: 0; border-radius: 0; }
  .sign_up{ padding: 20px; }
  .sign_up .alert{ position: static; margin: 0 auto; width: 90%; text-align: center; display: none; }
  .sign_up h3{ text-align: right; }

/**************************************************************************************************/

@media (max-width: 700px){

  h1{ font-size: 25px; }

  .main_navbar form{ display: none; }
  .hide_navbar{ width: 70%; }
  .search{ display: block; }

  .with_sidebar{ transform: translateX(70%); }

  .lv_infos{ width: 100%; position: static !important; background: none; padding: 10px; }
  .lv_infos h2{ font-size: 25px; color: #000; }
  .lv_infos p{ font-size: 20px; color: #000; }
  .lv_infos a{ margin-top: 0; }
  .lv_infos_content{ position: static; }

  .elmt_video{ width: 100%; margin-bottom: 0; }
  .elmt_video .v_infos{ margin-bottom: 0; }

  .video .blur a{ width: 30%; left: 35%; top: 30% !important; }

  .aff_video{  padding: 0; }
  .my_video{ width: 100%; }
  .my_video .v_infos h2{  width: 100%; padding: 10px; }
  .my_video .v_infos button{ display: none; }
  .my_video .fb-share-button{ display: block; margin: 0 auto; }
  .commentaires{ width: 100%; }
  .commentaires .form-control{ margin: 20px auto; width: 90%; }
  .commentaire{ width: 90%; padding: 5px; }
  .commentaire img{ width: 30px; height: 30px; border-radius: 30px; }
  .commentaire .c_infos{ padding-left: 10px; }
  .commentaires .alert{ width: 90%; margin: 20px auto 0 auto !important; }

  .elmt_abo{ width: 100% !important; }

  .profil{ padding: 20px; }
  .profil_pic img{ width: 100%; }
  .profil_infos{ margin-top: 20px; width: 100%; }
  .profil_infos h2{ border-top: 1px solid #585858; margin-top: 20px; }

  .login_body{ background: none; color: #000; }
  .login_body .alert{ width: 80%; left: 10%; }
  .sign_in .input-group input, .sign_up .input-group input{ color: #000; }
  .sign_in form, .sign_up form{ width: 90%; }
  .filter_black{ background: none; }

}