/*******************************************************
GENERAL
********************************************************/

body{ position: relative; font-family: 'Roboto', 'sans-serif'; overflow-x: hidden !important; }
.violet{ color: #4a0087; }
.site_content{ transform: translateX(0); transition-duration: 0.5s; }

/*******************************************************
NAVBAR
********************************************************/

.main_navbar{ background: #000 !important; }
  .main_navbar a{ color: #FFF; padding-left: 15px; }
  .main_navbar form{ width: 80%; margin: 0 auto; }
  .main_navbar input{ width: 80% !important; background: none; border: none; border-radius: 0; border-bottom: 2px solid #4a0087; }
  .main_navbar input:focus{ background: none; }
  .main_navbar button{ border: none; color: #FFF; }
  .main_navbar button:hover{ color: #4a0087; background: none; transition-duration: 0.3s; }

  .open{ cursor: pointer; }
  .bar1, .bar2, .bar3{ width: 35px; height: 5px; background: #FFF; margin: 6px 0; transition: 0.4s; }
  .change .bar1{ transform: rotate(-45deg) translate(-9px, 6px); height: 2px; }
  .change .bar2{ transform: translateX(-200%); }
  .change .bar3{ transform: rotate(45deg) translate(-7px, -7px); height: 2px; }

.hide_navbar{ overflow-y: scroll; transform: translateX(-100%); transition-duration: 0.5s; width: 20%; position: absolute; left: 0; bottom: 0; top: 56px; background: #000; z-index: 200000; padding: 20px; }
  .hide_navbar .nav_item{ padding: 10px; text-align: center; }
  .hide_navbar .nav_item i{ display: inline-block; width: 20%; color: #FFF; }
  .hide_navbar .nav_item a{ display: inline-block; width: 79%; color: #FFF; }
  .hide_navbar .nav_item a:hover{ text-decoration: none; }
  .hide_navbar .btn{ margin-top: 20px; display: block; border-radius: 0; border: none; background: #4a0087; }
  .hide_navbar .btn i{ margin-right: 10px; }
  .hide_navbar .separator{ border-top: 1px solid #FFF; margin: 20px 0; }

.opened{ transform: translateX(0); transition-duration: 0.5s; }
.with_sidebar{ transform: translateX(20%); transition-duration: 0.5s; opacity: 0.7; }

.search{ display: none; }

/*******************************************************
HOME
********************************************************/

.lv_container{ position: relative; }
  .lv_infos{ position: absolute; color: #FFF; background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.041) 0%, rgba(0, 0, 0, 0.212) 30%, rgba(0, 0, 0, 0.493) 60%, #000 100%); background-image: linear-gradient(left, rgba(0, 0, 0, 0.041) 0%, rgba(0, 0, 0, 0.212) 30%, rgba(0, 0, 0, 0.493) 60%, #000 100%); top: 10px; bottom: 10px; right: 0; width: 50%; padding: 20px; text-align: center; }
  .lv_infos h2{ font-size: 70px; text-transform: uppercase; border-bottom: 2px solid #4a0087; }
  .lv_infos p{ font-size: 80px; font-weight: 900; }
  .lv_infos a{ width: 30%; margin-top: 20px; border-radius: 0; border: none; background: #4a0087; padding: 10px; }
  .lv_infos a:hover{ background: #3c016d; }
  .lv_infos a i{ margin-right: 10px; }

  .lv_infos_content{ padding: 10px; position: absolute; top: 10%; }

.list_videos{ text-align: center; padding: 50px; }
  .elmt_video{ display: inline-block; width: 24%; }
  .elmt_video .v_infos{ margin-bottom: 54px; padding: 10px; text-align: left; }
  .elmt_video .v_infos h2{ font-size: 15px; font-weight: 800; height: 3.2em; color: #2c2c2c; }
  .free{ color: #078823 !important; }
  .price{ color: #2900bd !important; }

.video{ width: 100%; background: #000; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0; display: inline-block; }
  .video img, .video iframe{ position: absolute; top: 0; left: 0; padding-top: 10px; padding-bottom: 10px; width: 100%; height: 100%; }
  .video .blur{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(97, 97, 97, 0.247); }
  .video .blur p, .blur a{ position: absolute; top: 40% !important; padding: 10px; color: #FFF; text-align: center; }
  .video .blur p{ background: rgba(209, 209, 209, 0.589); color: #FF3333; width: 75%; left: 13%; }
  .video .blur a{ background: #343a4052; width: 25%; left: 37.5%; border: 0; border-radius: 10px; }
  .video .blur a:hover{ background: #4a0087; }
  .video .blur .btn-danger{ background: #ad0628; }
  .video .blur .btn-danger:hover{ background: #91021f; }

/*******************************************************
VIDEO
********************************************************/
.aff_video{ background: #000; }

.my_video{ width: 70%; margin: 0 auto 20px auto; color: #FFF; }
  .my_video iframe{ border: none; }
  .my_video .v_infos h2{ font-size: 20px; display: inline-block; width: 90%; }
  .my_video .v_infos button{ display: inline-block; width: 9%; }
  .my_video .fb-share-button{ background: #3b5998; border: none; border-radius: 0; }
  .my_video .fb-share-button i{ margin-right: 10px; }

.commentaires{ width: 70%; margin: 0 auto; color: #FFF; }
  .commentaires h3{ border-bottom: 2px solid #4a0087; padding-bottom: 10px; font-size: 17px; }
  .commentaire{ width: 70%; margin: 5px 0 10px 0; padding: 10px; }
  .commentaire img{ display: inline-block; vertical-align: top; width: 70px; height: 70px; border-radius: 70px; border: 1px solid #000; }
  .commentaire .c_infos{ padding-left: 20px; width: 80%; display: inline-block; vertical-align: middle; text-align: left; }
  .commentaire p{ font-size: 12px; }

  /*******************************************************
ABONNEMENTS
********************************************************/

  .abo_header{ background: url('../images/bg2.jpg'); background-size: cover;  background-repeat: no-repeat; color: #FFF; }
  .abo_infos{ background: #0000009f; padding: 20px; }
  .abo_infos p{ width: 50%; }
  .abo_content .container{ padding: 20px; }
  .abo_content .container ul{ text-align: left; }
  .abo_content .elmt_abo{ width: 50%; }

/*******************************************************
PROFIL
********************************************************/

.profil_head{ text-align: center; padding: 10px; }
  .profil_head img{ width: 30%; }
  .profil_head span{ font-size: 20px; }

.profil_infos{ padding: 10px; width: 50%; }
  .profil_infos h2{ padding-top: 20px; }
  .profil_infos button{ margin-bottom: 20px; }

/*******************************************************
CONNEXION/INSCRIPTION
********************************************************/

.login_body{ margin-top: 0; color: #FFF; background: url('../images/bg.jpg'); background-size: cover; background-repeat: no-repeat; }
.login_body h1{ text-align: center; }
.login_body h2{ text-align: center; }
.login_body h3{ border-bottom: 2px solid #4a0087; margin-bottom: 20px; }
.login_body .alert{ width: 50%; text-align: center; margin: 20px auto 0 auto; }

.filter_black{ background: rgba(0, 0, 0, 0.616); height: 100vh; }
.sign{ margin-top: 20px; margin-top: 10vh; }
.sign button{ width: 70%; margin: 10px auto; display: block; border-radius: 0;  border: 0; }  

.sign_in{ border-right: 2px solid #4a0087; padding: 20px; }
  .sign_in .form-check{ text-align: center; }
  .sign_in button{ background: #4a0087; }
  .sign_in button:hover{ background: #360063; }
  .sign_in form, .sign_up form{ width: 70%; margin: 0 auto; }
  .sign_in .input-group, .sign_up .input-group{ margin-bottom: 20px !important; }
  .sign_in .input-group input, .sign_up .input-group input{ color: #FFF; background: none; border-bottom: 1px solid #4a0087 !important; border: 0; border-radius: 0 !important; }
  .sign_in .input-group-text, .sign_up .input-group-text{ background: none !important; color: #4a0087; border: 0; border-radius: 0; }
  .sign_up{ padding: 20px; }
  .sign_up h3{ text-align: right; }

/*******************************************************
MEDIA QUERIES
********************************************************/

@media (max-width: 700px){

  .main_navbar form{ display: none; }
  .hide_navbar{ width: 70%; }
  .search{ display: block; }

  .with_sidebar{ transform: translateX(70%); }

  .lv_infos{ width: 100%; }
  .lv_infos h2{ font-size: 20px; }
  .lv_infos p{ font-size: 20px; }
  .lv_infos a{ margin-top: 0; }
  .lv_infos_content{ position: absolute; top: 0; bottom: 0; width: 100% !important; left: 0; }

  .list_videos{ padding: 10px; }
  .elmt_video{ width: 49%; }

  .video .blur a{ width: 30%; left: 35%; top: 30% !important; }

  .my_video{ width: 100%; }
  .my_video .v_infos h2{  width: 100%; }
  .my_video .v_infos button{ display: none; }
  .my_video .fb-share-button{ display: block; margin: 0 auto; }
  .commentaires{ width: 100%; }
  .commentaire{ width: 90%; padding: 5px; }
  .commentaire img{ width: 30px; height: 30px; border-radius: 30px; }
  .commentaire .c_infos{ padding-left: 10px; }

  .elmt_abo{ width: 100% !important; }

  .profil_head img{ width: 100%; }
  .profil_head span{ font-size: 20px; }
  .profil_infos{ width: 100%; }
  .profil_infos h2{ border-top: 1px solid #585858; }

  .login_body{ background: none; color: #000; }
  .sign_in .input-group input, .sign_up .input-group input{ color: #000; }
  .sign_in form, .sign_up form{ width: 90%; }
  .filter_black{ background: none; }

}