{% extends 'inc/head.twig' %}
{% block title %} Erreur 404 {% endblock %}
{% block main %}

<body>
    <div class="infos">
        <h1> 404 </h1>
        <p> Quelque chose ne s'est pas bien passé! </p> 
        <p> Vous pouvez retourner <a href="//localhost/mediatheque/public/home/board"> à la page d'accueil </a></p> 
    </div>
    <img src="//localhost/mediatheque/public/images/chuck.jpg">
</body>
</html>

{% endblock %}