{% extends 'template.twig' %}
{% block title %} Abonnements {% endblock %}
{% block content %}

<div class="abo_content">

  <div class="abo_header">
    <div class="abo_infos">
      <h1>Abonnements</h1>

      <p> 
        Pour profiter pleinement de toutes les vidéos présentes sur la plateforme, <strong>D<span class="violet">o</span>ntatune</strong>
        vous propose de souscrire à l'abonnement qui vous correspond. 
      </p>
      <p> 
        Alors n'hésitez plus et rejoignez la communauté <strong>D<span class="violet">o</span>ntatune</strong> et trouvez
        votre bonheur parmi notre médiathèque variée.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      {% for a in abos %}
      <div class="elmt_abo">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{ a.get_nom }}</h4>
        </div>
        <div class="card-body">
          <ul>
            <li>{{ a.get_description }}</li>
            <li>{{ a.get_prix }}€</li>
            {% if a.get_essai == 1 %} 
            <li>Période d'essai de 7 jours</li>
            {% endif %}
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">{% if a.get_essai == 1 %} Essayer {% else %} Souscrire {% endif %}</button>
        </div>
      </div>
      </div>
      
      {% endfor %}

    </div>
  </div>

</div>

{% endblock %}
