<body style="font-family: 'Roboto', sans-serif;font-size:15px;width:660px; padding: 10px;">
<h1 style="text-align: center;"><strong>D<span style="color:#4a0087">o</span>ntatune</strong></h1>
<h2 style="text-align: center;"> Bienvenue sur Dontatune !</h2>
<p>Bonjour {{ prenom }},</p>
<p>Nous sommes heureux de vous voir rejoindre notre plateforme. Afin de finaliser votre inscription,
vous trouverez au bas de ce mail un code à 4 chiffres à rentrer dans le champs demandé sur 
la plateforme.</p>
<p> Une fois votre inscription confirmée, vous pourrez profiter des différentes fonctionnalités que 
nous vous proposons. Il vous sera également possible d'effectuer différentes modifications de
vos informations à savoir : </p>
<ul> 
    <li>Modifier votre adresse mail</li>
    <li>Modifier votre photo de membre</li>
    <li>Supprimer définitivement votre compte</li>
</ul>
<p> Voici votre code : <B> {{ code }} </B> </p>
<p> En cas de problème, contactez nous aux numéros et adresses indiqués sur la plateforme </p>
<p> Cordialement, </p>
<p> <B> L'équipe administrative Dontatune </B> </p>
</body>