<body style="font-family: 'Roboto', sans-serif;font-size:15px;width:660px; padding: 10px;">
<h1 style="text-align: center;"><strong>D<span style="color:#4a0087">o</span>ntatune</strong></h1>
<h2 style="text-align: center;"> Mot de passe oublié </h2>
<p>Bonjour {{ prenom }},</p>
<p> Le code ci-dessous vous permettra de réinitialiser votre mot de passe sur la plateforme. </p>
<p> <B> {{ code }} </B> </p>
<p> En cas de problème, contactez nous aux numéros et adresses indiqués sur la plateforme </p>
<p> Cordialement, </p>
<p> <B> L'équipe administrative Dontatune </B> </p>
</body>