{% extends 'inc/head.twig' %}
{% block title %} Connexion {% endblock %}
{% block main %}

<body class="login_body">
{% set BASEURL = constant('BASEURL') %}
<div class="filter_black">
    <h1><i class="fas fa-video"></i>D<span class="violet">o</span>ntatune</h1>
    <h2> Plateforme de vidéos en ligne </h2>

    <div class="container-fluid sign">
    <div class="row">
        <div class="col-sm-6 sign_in" id="sign_in">
            <form method="post" action="connect">
            <h3> C<span class="violet">o</span>nnexion </h3>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user"></i></div>
                </div>
                <input type="text" class="form-control" id="username" name="mail" placeholder="Nom d'utilisateur ou email">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-lock"></i></div>
                </div>
                <input type="password" class="form-control" name="pass" id="password" placeholder="Mot de passe">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
            </div>
            <button id="btn_sign_in" class="btn btn-primary">Connexion</button>
            </form>
        </div>
        <div class="col-sm-6 sign_up">
            <form method="post" action="inscription" id="sign_up">
            <h3> Inscripti<span class="violet">o</span>n </h3>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user"></i></div>
                </div>
                <input type="text" class="form-control" id="name" name="nom" placeholder="Nom" required>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user"></i></div>
                </div>
                <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom" required>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-at"></i></div>
                </div>
                <input type="mail" class="form-control" id="mail" placeholder="Adresse mail" name="mail" required>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user"></i></div>
                </div>
                <input type="text" class="form-control" id="username" placeholder="Nom d'utilisateur" name="pseudo" required>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-lock"></i></div>
                </div>
                <input type="password" class="form-control" id="pass" placeholder="Mot de passe" name="pass" required>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-lock"></i></div>
                </div>
                <input type="password" class="form-control" id="pass2" placeholder="Confirmation" name="pass2" required>
            </div>
            <button type="submit" class="btn btn-success">Inscription</button>
            <div class="alert alert-danger"> Tous les champs doivent êtres remplis </div>
            </form>
        </div>
    </div>
    </div>

    {% if session.error_connect is defined %} 

    <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
    {{ session.error_connect }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>

    {% endif %}

    {% if session.success_inscription is defined %} 

    <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ session.success_inscription }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>

    {% endif %}
    
</div>
<script src="{{BASEURL}}js/validation.js"></script>
</body>

{% endblock %}