{% extends 'template.twig' %}
{% block title %} Profil {% endblock %}
{% block content %}

    <div class="col-sm-12 col-md-12 col-lg-10 profil">
    <h1> LaStreetDu67 </h1>
    <img src="public/images/remy.png">
    </div>
{% endblock %}
