{% block main %}

{% include 'inc/head.twig' %}
  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 side_nav">
          <h1><i class="fas fa-video"></i><strong>D<span class="violet">o</span>ntatune</strong></h1>
          <div class="filters">
            <div class="filter-item active">
              <i class="fas fa-home"></i><a href="home">Accueil</a>
            </div>
            <div class="filter-item">
              <i class="fas fa-search"></i><a href="#">Rechercher</a>
            </div>
            <div class="filter-item">
              <i class="fas fa-user"></i><a href="profil">Profil</a>
            </div>
          </div>
          <a role="button" class="btn btn-success" href="abonnement"><i class="fas fa-video"></i>S'abonner</a>
        </div>
        <div class="col-sm-12 nav_mobile">
        <div class="open">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="items">
          <h1><i class="fas fa-video"></i><strong>D<span class="violet">o</span>ntatune</strong></h1>
        </div>
        </div>
      </div>
    </div>

    {% block content %}
    {% endblock %}

    <div class="side_nav_mobile" id="side_nav_mobile"> 
      <div class="filters_nav">
          <a href="home">Accueil</a>
          <a href="#">Rechercher</a>
          <a href="profil">Profil</a>
          <a role="button" class="btn btn-success" href="abonnement"><i class="fas fa-video"></i>S'abonner</a>
      </div>
    </div>

    {% include 'inc/end.twig' %}

  </body>
</html>
{% endblock %}